    label,
    textarea {
         font-size: .8rem;
         letter-spacing: 1px;
      }
      textarea {
          padding: 15px;
          max-width: 100%;
          line-height: 1.5;
          border-radius: 15px;
          border: 1px solid #ccc;
          box-shadow: 1px 1px 1px #999;
      }
      label {
          display: block;
          margin-bottom: 10px;
      }
      .button {
          background-color: #000;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }